@import url("https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap");

:root {
  --primary-light: #74a84a;
  --primary-dark: #2c541d;
  --black: #000000;
  --white: #efefef;
}
